<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>168349446539-tg74davn2so6s8cbdjktetab1fho1jqd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.168349446539-tg74davn2so6s8cbdjktetab1fho1jqd</string>
	<key>API_KEY</key>
	<string>AIzaSyBX3p9iQYfSpm_CSLTBGyzCszQhB4ieQ7M</string>
	<key>GCM_SENDER_ID</key>
	<string>168349446539</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>stschults.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-e7c2f</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-e7c2f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:168349446539:ios:e5ece9daf0969bfb73bf8e</string>
</dict>
</plist>